@model IEnumerable<WebApplication_UESL.Models.Enrollment>

@{
    ViewBag.Title = "enrolledStudents";
    WebGrid grid2 = new WebGrid(source: Model, rowsPerPage: 1000);
}

@* css *@
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>



@grid2.GetHtml(
                tableStyle: "gridtable",
                columns:
                    grid2.Columns(

                        @*Add Checkbox*@
                        grid2.Column(format: (item) => Html.ActionLink("Delete", "DeleteEnrollment", "Courses", new { id = item.EnrollmentID, cRecID = item.Course.ClassRecordID }, new { onclick = "return confirm('Are you sure you want to delete this enrollment?')" })),
                        grid2.Column(format: (item) => Html.ActionLink("Edit", "Edit", "Enrollments", new { id = item.EnrollmentID }, null)),
                        grid2.Column("Student.FirstName", "First Name"),
                        grid2.Column("Student.LastName", "Last Name"),
                        grid2.Column("Student.StudentID", "Student ID"),
                        grid2.Column("grade", "Grade")
                    )
                )


<hr />
<footer>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Students", "index", "Students")</li>
            <li>@Html.ActionLink("Courses", "index", "Courses")</li>
            <li>@Html.ActionLink("Enrollments", "index", "Enrollments")</li>
        </ul>
    </div>
</footer>
