@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>UESL is a program that is an intermediary between the students and the registrar. They are tasked with gathering student information; such as place of origin, visa records and UESL classes taken and needed. Once the student has chosen their class course, then a course plan is sent from UESL to the registrar. This allows these students to enroll in classes.</p>

<p>As of now UESL currently keeps all of their student information in Excel spread sheets. They the write out the class information on a separate sheet and give a physical copy to the registrar. To simplify this processes, we have chosen to use a standalone program written in C#, using a SQLite database program that is easily exportable to Excel files. This will allow UESL to query their database of students based on various categories, including; student name, CWU ID number, class or professor.</p>
