@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>UESL Record Manager</h1>
    </center>
    <div>
        <center>
            <a href='@Url.Action( "Index", "Students")' value="Students"><img src="Content/images/students.png" /></a>
            <a href='@Url.Action( "Index", "Courses")' value="Course"><img src="Content/images/courses.png" /></a>
            <a href='@Url.Action( "Index", "Enrollments")' value="Enrollments"><img src="Content/images/enrollments.png" /></a>
        </center>  
    </div>
</div>