
@{
    ViewBag.Title = "Usage Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usage Guide Documentation</h2>

Someone do this and make it look nice im not doing it!
i want screenshots and fancy shit
