@{
    ViewBag.Title = "Usage Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <center>
        <h1>Usage Guide</h1>
    </center>
    <div id="usageGuide">
        @RenderBody()
    </div>
</body>