@{
    ViewBag.Title = "Usage Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* css *@
<style type="text/css">
    ul.image-align{
        padding-left: 250px;
    }
</style>

<body>
    <center>
        <h1>Usage Guide</h1>
    </center>
    <div id="usageGuide">
        @RenderBody()
        <p>
            Welcome to UESLs new student management system. 
            To begin we will start by adding a new student. At the home page you will see three available list to choose from Students, Courses and Enrollments. 
            The banner along the top allows quick access back to this home screen. An about page and this user’s guide. High-lighted in red in figure 1.1 are the available buttons to click.
        </p>
        <ul class="image-align">
            <img src="/Content/images/figure1_1.jpg" alt="Figure 1.1" style="width:600px;height:300px;">
        </ul>
        <p>
            1. Home
            2. About
            3. Users Guide
            4. Students
            5. Courses
            6. Enrollments
        </p>
        <p>
            To create a new student you will click on the student’s image button. This will lead you to a new window where you can fill in all of the student’s information. Figure 2.1 is an over view of the entire page
        </p>
        <ul class="image-align">
            <img src="/Content/images/figure2_1.jpg" alt="Figure 2.1" style="width:600px;height:300px;">
        </ul>
        
        <p> 
            Search Students allows you to search the data base using certain requirements.
        </P>
        <ul class="image-align">
            <img src="/Content/images/figure2_2.jpg" alt="Figure 2.2" style="width:600px;height:230px;">
        </ul>
        
        <p>
            1. First Name          2. Last Name         3. School/Agent
            4. Student ID         5. Citizenship        6. Eligibility Expiration   7. Filter students
        </p>
        <p> After the desired fields are filled out (with at least one field) you can click on the Filter Student’s button. 
        The table below will populate with students fitting the requirements. From here more options are available such as.
        </p>
        <ul class="image-align">
            <img src="/Content/images/figure2_3.jpg" alt="Figure 2.3" style="width:600px;height:230px;">
        </ul>
        <ol>
            <li>Select All – Which allows use to select all items in the table for either export or deletion.</li>
            <li>Edit – Goes into that students profile and allows user to change information.</li>
            <li>Details – shows student information but is non editable.</li>
            <li> Mark selected for Export – allows use to put selected students in export bag</li>
            <li>Delete Selected – Warning this will delete selected students and will ask for conformation.</li>
            <li>Add Student – This will send you to create a new student.</li>
            <li>Show Export Bag- This allows you to see the selected students you have for exporting.</li>
        </ol>
 
        <p>
            To create a new student you would click on the <b>Add Student</b> button which will take you to a new window which will allow you to fill in all the appropriate boxes as needed. 
            You will notice there is no required fields to create a student this allows you to initialize a student and come back to that student and fill in the rest of their information. 
            You may also wish to add a photo of the student.
            <ul class="image-align">
                <img src="/Content/images/figure2_4_1.jpg" alt="Figure 2.4.1" style="width:600px;height:230px;">
                <img src="/Content/images/figure2_4_2.jpg" alt="Figure 2.4.2" style="width:600px;height:230px;">
            </ul>
            <ol>
                <li>Choose File – Choose an already edited photo of the student from your own PC</li>
                <li>Create – Found on the bottom of the page saves all of the information for this student</li>
            </ol>
        </p>
        
        <p>
            To create a new course click on <b>List of Courses</b> from the home screen which will bring you to this window.
            From this window you can search by Course Name, Class ID, Instructor and Quarter. A table is then populated with courses if it is not among these then you click on Add Course.
            <ul class="image-align">
                <img src="/Content/images/figure2_5.jpg" alt="Figure 2.5" style="width:400px;height:500px;">
            </ul>
            <ol>
                <li>Filter Course</li>
                <li>Mark selected for Export – allows use to put selected course in export bag</li>
                <li>Delete Selected – Warning this will delete selected course and will ask for conformation.</li>
                <li>Add Course – This will send you to create a new course.</li>
                <li> Show Export Bag- This allows you to see the selected students you have for exporting.</li>
            </ol>
            <blockquote>
                If you wish to create a new course, click <b>Add Course</b> and it will bring you to a new window where you can fill out the course record and click create
                and it will be added to the list of available courses and take you back to List of Course window.
            </blockquote>
        </P>
        <p>
            Searching by enrollments allows you to search by all criteria’s mentioned in both Student List and Courses list and displays on a larger table.
            <ul class="image-align">
                <img src="/Content/images/figure2_6.jpg" alt="Figure 2.6" style="width:400px;height:500px;" align="middle">
            </ul>
            <ol>
                <li>Filter Enrollments</li>
                <li>Mark selected for Export – allows use to put selected course in export bag</li>
                <li>Delete Selected – Warning this will delete selected Item and will ask for conformation.</li>
            </ol>
        </p>
    </div>
</body>